<style>
  .formulario {
    display: flex;
    flex-direction: column;
  }

  .contenido-principal {
    width: 50%;
    height: auto;
    border: 1px solid #F70838;
    padding: 20px;

  }

  h1 {
    color: #F70838;
  }

  button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #F70838;
    color: white;
    font-weight: bold;
    ;
  }


  label {
    color: white;
    font-weight: bold;
  }

  .input {
    margin: 5px 0 5px 0;
  }
</style>
<h1>Papeleria Mi Barrio</h1>

<div class="contenido-principal">

  <h1>Products</h1>
  <form class="formulario">
    <div class="input">
      <label for="name">name</label>
      <input type="text" id="name">
    </div>
    <div class="input">
      <label for="worthunitary">worthunitary</label>
      <input type="text" id="worthunitary">
    </div>
    <div class="input">

      <label for="worthsale">worthsale</label>
      <input type="text" id="worthsale">
    </div>

  </form>

  <button>Send</button>

</div>
